.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 80%;
}
  
.chat-input input {
    flex-grow: 1;
    margin-right: 10px;
    height: 100%;
    border-radius: 10px;
}
  
.chat-input button {
    background-color: #2DB3E6;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    transition: all 0.2s ease;
    height: 100%;
    width: 15%;
    border-radius: 10px;
}
.chat-input button:active {
    transform: scale(0.95); /* Scale down a bit when pressed */
}