.main{
    background-color: rgba(255, 255, 255, 0.10);
    width: 80vw;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.20);
}
.chat-threads{
    height: 100%;
    width: 30%;
    box-shadow: 10px 0px 15px -5px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px; */
}
.thread-tabs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}
.chat{
    height: 100%;
    width: 70%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.signout{
    color: white;
    background-color: #BE0000;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    
}
.chat-threads-end{
    width: 80%;
    height: 10%;
    padding: 8px;
}

.tab-btn{
    border: none;
    width: 100%;
    height: 10%;
    background-color: #FFF;
}

.tab-btn,
.signout {
    /* Other styles */
    transition: all 0.2s ease; /* Add transition for smooth animation */
}

.tab-btn:active,
.signout:active {
    transform: scale(0.95); /* Scale down a bit when pressed */
}

.tab-btn {
    color: #000; /* White text */
    /* background-color: rgba(45, 179, 230, 0.5); Shadowed out color */
    background-color: rgba(255, 255, 255, 0.5);
}

.tab-btn.active {
    background-color: #FFF; /* Blue color when active */
}

.text-containers{
    width: 100%;
    height: 90%;
    /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.20); */
    border-width: 1px;
    border-style: solid; /* Add this line */
    border-color: red;
}
.input-container{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}